#cdic-icon {
    background-size: 19px;
    height: 19px;
    width: 19px;
}

#cdic-bubble {
    background-color: rgb(245, 245, 245);
    box-sizing: content-box;
    cursor: pointer;
    height: 19px;
    width: 19px;
    z-index: 2147483648;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    border-image: initial;
    border-radius: 5px;
    padding: 3px;
}